#gamearea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}
@media (width <=840px) {
  #gamearea {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (width <=630px) {
  #gamearea {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
#scorearea {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
  margin: 0.5rem;
}
#playAgainBtn {
  background-color: rgb(36, 48, 48);
  color: rgb(240, 227, 227);
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid grey;
}
#playAgainBtn:hover {
  cursor: pointer;
  background-color: rgb(240, 227, 227);
  color: rgb(36, 48, 48);
}
.hidden {
  display: none;
}
